@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Work+Sans:wght@400;600;700&display=swap');


/* common style */
body{
    margin: 0;
    font-family: 'Work Sans', sans-serif;

}

.container{
    width: 1022px;
    margin: auto;
   
}

.btn-primary{
    background-color: #FF900E;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 14px 23px;
    border-radius: 8px;
    font-size: 16px;

}


/* header section */
header{
    background: rgba(255, 144, 14, 0.1);
    padding-bottom: 30px;
}

nav{
    display: flex;
    justify-content: space-around;
}

.brand-name{
    color: #131313;
    font-size: 20px;
}

.brand-list{
    display: flex;
    align-items: center;
}

.brand-list li{
    list-style: none;
    margin-left: 50px;
}

.brand-list li a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
}

.brand-section img{
    width: 100%;
}

.brand-box {
    text-align: center;
}

.brand-box, .Features-section {
    width: 860px;
    margin: 30px auto;
    
}

.brand-title {
    font-size: 46px;
    width: 400px;
    margin: auto;
}


/* Features-section style */
.Features-section{
    display: flex;
    gap: 50px;
    align-items: center;
    margin-bottom: 70px;
}

.first-row-first-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

.first-row-first-container img{
    width: 200px;
}

.Features-box .Features-title{
    width: 350px;
    font-size: 33px;
    color: #131313;
}
.Features-box span{
    color: #727272;

}

.Features-box .unique-color{
    color: #FF900E;
}

.Features-box .Features-descripation{
    color: #727272;
    font-size: 16px;
}


/* our service section */
.Our-service-section{
    margin-bottom: 50px;
}

.Our-service-title{
    font-size: 35px;
    text-align: center;
}

.Our-service-box{
    display: flex;
}

.card{
    background-color: #fff;
    padding: 30px 18px;
    width: 400px;
    box-shadow: 0 0 35px rgba(0,0,0,0.12);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;      
}

.card:not(:first-child) {
    margin-left: 25px;
}

h3{
    font-size: 20px;
    font-weight: 600;
}

.icon-wrapper{
    background-color:#2c7bfe ;
    width: 60px;
    height: 60px;
    color: #FFFFFF;
    font-size: 25px;
    margin: auto;
    display: grid;
    place-items: center;
    border-radius: 50%;
}


/* Experience section style */
.Experience-section{
    margin-bottom: 80px;
}

.Experience-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 80px;
    align-items: center;
}

.Experience-features{
    padding: 10px;
}

.Experience-box img {
    width: 100%;
}

.Experience-title {
    width: 347px;
    font-size: 35px;
    border-left: 5px solid #FF900E;
    padding-left: 15px;
    line-height: 42px;
}

.Experience-descripation{
    color: #727272;
    font: 16px;
}

.Experience-sub-box{
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    padding: 8px;
    border-radius: 8px;
    margin: 10px;
}

.sub-descripation{ 
    color: #727272; 
    font-size: 14px;
}

.Experience-sub-box .sub-title, .sub-descripation{
    margin: 10px; 
}

.Experience-architect{
    position: relative;
}

.Experience-architect button{
    width: 230px;
    height: 138px;
    font-size: 40px;
    background-color: #FF900E;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    line-height: 18px;
    position: absolute;
    left: -54px;
    bottom: -57px;
}

.Experience-architect button span{
    font-size: 20px;
}


/* Facts section style */
.facts-title{
    font-size: 35px;
    margin-bottom: 10px;
 }

 .facts-descripation{
    width: 540px;
    color: #727272;
    font: 16px;
    margin-bottom: 40px;
}

.facts-content{
    display: flex;
    justify-content: space-around;
    text-align: center;
    line-height: 6px;
    margin-bottom: 80px;
}

.facts-box{
    width: 140px;
    height: 118px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 25px;
    color: #424242;
    transition: all 1s;

}

.facts-box h3{
    font-size: 20px;
}

.facts-box p{
    font-size: 15px;
} 



/* facts box animation */
.facts-box:hover{
    box-shadow: 0 5px 35px 4px rgba(142, 37, 37, 0.31);
}

.facts-box:hover{
    transform: translateY(10px);
    background-color: #eb9028;
    color: #FFFFFF;
}



/* Sponspors section style */
.spnspors-section{
    margin-top: 40px;
    text-align: center;
}

.spnspors-title{
    font-size: 30px;
    margin-bottom: 10px;
    
}

.spnspors-descripation {
    width: 540px;
    color: #727272;
    font: 16px;
    margin: 0px auto 50px;
}

.spnspors-content{
    display: flex;
    justify-content: space-around;
    text-align: center;
    line-height: 6px;
    margin-bottom: 80px;
}

.spnspors-box img{
    width: 120px;
    filter: sepia(100%);
}


/* Footer section style */
footer{
    margin-bottom: 20px;
}

.footer-section {
    text-align: center;
    padding: 25px 30px;
    background: #FFF4E7;
    border-radius: 8px;  
}

footer p{
    color: #424242;
}



/* Responsive Small devices ) */

@media screen and (max-width:576px) {

    /* header and nav Responsive */
    .container{
        width: 100%;
    }

    nav{
        flex-direction: column;
        padding-left: 20px;
    }
    .brand-list { 
        display: block;
    }

    .brand-list li { 
       padding-bottom: 10px;
       margin-left: 0px;
    }

    .brand-section,.brand-box, .Features-section {
        width: 100%;
        text-align: center;  
    }

    .brand-title {
        font-size: 2.5rem;
    }
      

    /* Features Responsive*/
    .Features-section{
        flex-direction: column;
    }
    
    .first-row-first-container{
        grid-template-columns: repeat(1,1fr);
    }

    .first-row-first-container img {
        width: 100%;
    }

    .Features-box .Features-title{
        width: 100%; 
    }

    /* our services Responsive */
    .Our-service-box{
        align-items: center;
        flex-direction: column;   
    }
    
    .card{
        margin:10px 20px  ;
    }

    /* Experience Responsive */
    .Experience-box{
        grid-template-columns: repeat(1, 1fr);
    }
     
    .Experience-architect button{
        width: 190px;
        height: 105px;
        font-size: 35px;
        left: 151px;
        bottom: -48px;
    }

    /* Facts Responsive */
    .facts-title{
        padding-left: 15px;
    }

    .facts-descripation{
        width: 86%;
        padding-left: 15px;

    }
    .facts-content{
        flex-direction: column;
        width: 405px;
    }

    .facts-box{
        width: 100%;
        margin: 10px;
    }


    /* spnspors Responsive */
    .spnspors-descripation{
        width: 100%;
    }

    .spnspors-content{
        flex-direction:column;
        row-gap: 30px;
    }


    /* footer Responsive */
  .footer-section{
    width: 400px;
    margin: auto;
  }

    
} 






.hide{
    display: none;
}